* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fil0:hover {
    fill: blue;
}

.fil0{
    fill: #7FFFD4;
}
.wrapper{
    display: flex;
    align-items: center;
}

.list {
    margin-left: -150px;
}

#bathroom:hover {
    fill: #254d9b;
    opacity: .5;
}

#bedroom:hover {
    fill: #cb5822;
    opacity: .5;
}

#kitchen:hover {
    fill: #c321a8;
    opacity: .5;
}

#vestibule:hover {
    fill: #37c9d6;
    opacity: .5;
}

#livingroom:hover {
    fill: green;
    opacity: .5;
}